html, body
{
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Droid Sans' sans-serif;

	display: flex;
	flex-direction: column;
	background-color: #151515;
	color: #fafafa;
	overflow: hidden;
}

p
{
	margin: 10px;
	margin-bottom: 30px;
}

button#start
{
	border-radius: 50%;
	box-shadow: 0px 3px 10px #292929cc, inset 0px 1px 2px #fafafaaa;
	border: none;
	backdrop-filter: blur(4px);
	background-color: #4545cea6;
	height: 45vh;
	aspect-ratio: 1;
	position: absolute;
	left:0; right: 0; margin: auto;
	bottom: 15%;
}

.startLogo
{
	height: 70%;
	margin: auto;
	pointer-events: none;
	user-select: none;
}

.active
{
	animation: pulse infinite 0.5s linear;
}

@keyframes pulse
{
	0%   {transform: scale(1);    box-shadow: 0 0 3px 2px #292929cc;}
	60%  {transform: scale(1.02); box-shadow: 0 0 3px 0px #292929cc;}
	100% {transform: scale(1);    box-shadow: 0 0 3px 1px #292929cc;}
}
